.AboutMe {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #000;
  color: #ffffff;
}

.AboutMe .Content {
  max-width: 60%;
}

.AboutMe h1 {
  font-size: 80px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
  text-align: center;
}

.text_short {
  font-size: 32px;
  text-align: center;
}

.AboutMe .ProfileImage2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.AboutMe .ProfileImage2 img {
  border-radius: 100px;
  max-width: 300px;
  box-shadow: 0px 0px 50px #feb47b;
}

@keyframes pulsateGradient {
  0% {
    box-shadow: 0 0 10px 5px rgba(255, 126, 95, 0.6),
      0 0 20px 10px rgba(254, 180, 123, 0.6);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 126, 95, 0.8),
      0 0 40px 20px rgba(254, 180, 123, 0.8);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(255, 126, 95, 0.6),
      0 0 20px 10px rgba(254, 180, 123, 0.6);
  }
}

.ReadMoreButton {
  margin: 50px auto;
  background-color: transparent;
  color: #ff7e5f;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  animation: pulsateGradient 4s infinite;
  transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
  font-size: 30px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.ReadMoreButton:hover {
  border-radius: 20px;
  transform: scale(1.1);
  background-color: #ccc;
  border-color: #ccc;
  color: #111827;
}

.AboutMe .Modal {
  margin-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.AboutMe .ModalContent {
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  max-height: 900px;
  width: 100%;
  color: #ffffff;
  position: relative;
  overflow-y: auto;
  box-shadow: #feb47b 0px 0px 50px;
}

.AboutMe .CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}

.AboutMe .text_full {
  font-size: 24px;
}

@media (max-width: 1662px) {
  .AboutMe {
    padding: 30px;
    margin-top: 10px;
  }

  .AboutMe h1 {
    font-size: 60px;
    text-align: center;
  }

  .AboutMe .text_short {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }

  .AboutMe .ProfileImage2 {
    max-width: 250px;
  }

  .AboutMe .ReadMoreButton {
    font-size: 20px;
    padding: 8px 16px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .AboutMe .text_full {
    font-size: 20px;
  }
}

@media (max-width: 840px) {
  .AboutMe {
    padding: 20px;
  }

  .AboutMe h1 {
    font-size: 50px;
  }

  .AboutMe .ProfileImage2 {
    max-width: 180px;
  }

  .AboutMe .ModalContent {
    padding: 10px;
    max-width: 80%;
    max-height: 80%;
  }
}

@media (max-width: 768px) {
  .AboutMe {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 80px;
  }

  .AboutMe .Content {
    max-width: 90%;
    text-align: center;
  }

  .AboutMe h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .AboutMe .text_short {
    font-size: 18px;
  }

  .AboutMe .ProfileImage2 img {
    max-width: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .AboutMe .ReadMoreButton {
    font-size: 18px;
    padding: 6px 12px;
    margin-top: 30px;
    display: block;
    width: 50%;
  }

  .AboutMe .ModalContent {
    padding: 10px;
    max-width: 90%;
    max-height: 80%;
  }

  .AboutMe .text_full {
    font-size: 16px;
    margin-top: 35px;
    overflow: scroll;
    text-align: center;
  }
  .AboutMe .CloseButton {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }
}

@media (max-width: 420px) {
  .AboutMe h1 {
    font-size: 30px;
  }

  .AboutMe .text_short {
    font-size: 16px;
  }

  .AboutMe .ProfileImage2 img {
    max-width: 100px;
  }

  .AboutMe .ReadMoreButton {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .AboutMe h1 {
    font-size: 24px;
  }
  .AboutMe .ReadMoreButton {
    font-size: 15px;
  }
}
