body,
html {
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.ScrollContainer {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.ScrollContainer::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

.ScrollContainer::-webkit-scrollbar-thumb {
  background: #ff7e5f;
  border-radius: 5px;
}

.Section {
  scroll-snap-align: start;
  height: 100vh;
  margin: 0;
  margin-top: 120px;
  margin-bottom: 80px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  box-sizing: border-box;
  overflow: hidden;
}

.mole-escape-page {
  height: auto;
  overflow-y: auto;
}

@media (max-width: 1662px) {
  body,
  html {
    height: 100vh;
    overflow-y: hidden;
  }

  .Section {
    height: 100vh;
    margin: 0;
    padding: 50px;
  }

  .SkillsSection,
  .ExperienceSection,
  .EducationSection {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .ScrollContainer {
    padding: 0;
  }

  .Section {
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 10px;
  }

  .SkillsSection,
  .ExperienceSection,
  .EducationSection {
    height: auto;
  }
}
